/* Cambios en elementos/etiquetas HTML */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap");
header {
  position: relative;
}

.conten-titulo-principal {
  position: absolute;
  display: flex;
  justify-self: center;
  flex-direction: column;
  top: 50px;
  margin: 0px 14%;
}
.conten-titulo-principal h1 {
  font-family: "Roboto Slab";
  color: #fff;
  font-size: 50px;
  margin: 0px;
}
.conten-titulo-principal .titulos-secundarios {
  font-family: "Roboto Slab";
  color: #fff;
  font-size: 45px;
  margin: 0px;
}

.bkgn-sub-principal {
  filter: brightness(0.5);
  position: relative;
  display: block;
  object-fit: cover;
  border-radius: 0px;
  width: 100%;
  height: 400px;
  opacity: 1;
  object-position: 25% 40%;
}

.margen {
  background-color: #EC1E4C;
  width: 100%;
  height: 35px;
}

@media (min-width: 350px) {
  .bkgn-sub-principal {
    height: 500px;
  }
}
@media (min-width: 457px) {
  .bkgn-sub-principal {
    height: 450px;
  }
}
@media (min-width: 700px) {
  .bkgn-sub-principal {
    height: 280px;
  }
}
@media (min-width: 880px) {
  .bkgn-sub-principal {
    height: 230px;
  }
}
@media (max-width: 477px) {
  .conten-titulo-principal h1 {
    font-family: "Roboto Slab";
    color: #fff;
    font-size: 45px;
    margin: 0px;
  }
  .conten-titulo-principal .titulos-secundarios {
    font-family: "Roboto Slab";
    color: #fff;
    font-size: 40px;
    margin: 0px;
  }
}
.card {
  width: 280px;
  margin: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 0.3px solid rgb(188, 188, 188);
  box-shadow: 2px 2px 5px 2px #d8d8d8;
}

.descrip {
  /*font-family: 'IBM Plex Sans';*/
  text-align: justify;
  font-size: 12px;
  margin: 3px;
  padding: 4px;
  overflow: clip;
  background-color: rgb(253, 253, 253);
  height: 120px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0px 0px;
}

.descriptCard {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  padding: 3%;
  border-radius: 0px 0px 5px 5px;
  font-family: "Roboto Slab";
  background-color: white;
}

.descriptCard:hover {
  background-color: #F8F8F8;
}

.tituloCard {
  display: flex;
  align-items: center;
  margin: 5px;
  gap: 2px;
}

.tituloText {
  margin: 0px;
  text-align: start;
  font-size: 14px;
  font-weight: bold;
  color: black;
  margin-left: 5px;
}

.equipoText {
  display: inline-block;
  margin: 5px;
  color: black;
  font-family: "Roboto Slab";
  font-size: 12px;
  line-height: 1.8;
  text-align: start;
}

.by {
  background-color: #fbe4c2;
  padding: 3px 4px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #cb7804;
}

.tem {
  background-color: #ebebeb;
  padding: 3px 4px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #7d7d7d;
}

.fa-solid {
  font-size: 1.2em;
  color: black;
}

.tarjetero {
  /*background-color: #ffbea6;*/
  border-radius: 5px;
}

.contenBody {
  display: grid;
  grid-template-columns: 180px auto;
}

.descripcion {
  /*background-color: #ffbea6;*/
  margin: 1% 1%;
  padding: 5px;
}

.tituloConten {
  /*background-color: aquamarine;*/
  min-height: 35px;
}

.conten-cards-1 {
  /*background-color:cadetblue;*/
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  padding: 10px;
  width: auto;
  min-height: 35px;
}

.vistaConten {
  /*background-color:rgb(97, 61, 255);*/
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 2px;
  font-size: 13px;
  padding: 5px 5px;
}

.tituloTextConten {
  /*background-color:rgb(255, 61, 249);*/
  font-size: 20px;
  font-weight: bold;
  padding: 10px 5px;
}

.colFiltro {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 5px;
}
.colFiltro .tituloTextFiltro {
  font-weight: bold;
  display: flex;
  align-items: center;
}
.colFiltro ul {
  font-size: 16px;
  padding: 10px 0px;
  font-weight: bold;
  list-style: none;
  margin: 0px;
  padding: 0%;
}
.colFiltro ul li {
  font-family: "Roboto Slab", serif;
  margin: 5px 0px;
  font-weight: normal;
}
.colFiltro ul .active {
  font-weight: bold;
}
.colFiltro .fa-solid {
  display: none;
  margin-left: auto;
  margin-right: 3%;
  font-size: 14px;
}

.filter-btn {
  display: list-item;
  font-size: 14px;
  text-align: start;
  color: #3e3d3d;
  border: none;
  border-radius: 5px;
  margin: 2px 0px 2px 18px;
  padding: 3px 0px;
  cursor: pointer;
  background-size: 100px;
  background-color: rgba(248, 248, 248, 0);
}

.filter-btn:hover {
  font-weight: bolder;
}

@media screen and (max-width: 478px) {
  .contenBody {
    grid-template-columns: 1fr;
  }
  .colFiltro {
    background-color: #f3f3f0;
    border-radius: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    align-items: center;
  }
  .colFiltro .tituloTextFiltro {
    cursor: pointer;
    width: 100%;
    text-align: center;
  }
  .colFiltro .tituloTextFiltro span {
    margin-left: 3%;
  }
  .colFiltro .ftro-oculto {
    height: 0px;
  }
  .colFiltro ul {
    display: flex;
    flex-flow: column nowrap;
    height: 300px;
    transition: all 0.5s;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .colFiltro ul li {
    margin: 2px 0px;
  }
  .colFiltro .fa-solid {
    display: block;
  }
}
section h2 {
  font-size: 22px;
}

.conten-consept-pages {
  margin: 5vh 15vw;
  text-align: justify;
  font-family: "Roboto Slab";
}
.conten-consept-pages iframe {
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.bkgn-sub {
  display: block;
  object-fit: cover;
  border-radius: 0px;
  width: 100%;
  height: 25vh;
  opacity: 1;
  object-position: 20% 60%;
}

.migas {
  position: absolute;
  display: flex;
  align-items: center;
  color: black;
  padding: 5px;
  border-radius: 5px;
  background-color: #eeeeee;
  font-weight: bold;
  gap: 8px;
  text-decoration: none;
  left: 3%;
}

.migas:hover {
  background-color: #d8d8d8;
}

.return-btn {
  font-size: 12px;
  display: flex;
  align-items: center;
  height: 35px;
  /* width: 19px; */
  font-weight: bold;
  padding: 0px 7px;
  gap: 7px;
  background-color: #d8d8d8;
  /* box-shadow: 2px 2px 5px 2px #e6e6e6; */
  border-radius: 5px;
  float: right;
  color: #3a3a3a;
  position: absolute;
  right: 18px;
  top: 12px;
}

.return-btn:hover {
  background-color: #7d7d7d;
  font-weight: bold;
  cursor: pointer;
  color: #f8f8f8;
}

.yt-center-video {
  text-align: center;
  /*iframe{
      width: 80%;
      height: auto;
  }*/
}

.visual-img {
  text-align: center;
}
.visual-img img {
  box-shadow: 4px 4px 12px 6px #d8d8d8;
}

.tableauPlaceholder {
  box-shadow: 2px 2px 5px 2px #d8d8d8;
}

.conten-cards {
  display: grid;
  min-height: 35px;
  /*background-color:cadetblue;*/
  padding: 5px;
  width: auto;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.team-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 13rem;
  margin: 10px;
  border-radius: 7px;
  background-color: #e4e4e4;
  padding: 10px;
  border: solid 2px #dedddd;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}
.team-card p {
  margin: 5px;
  padding: 0%;
}
.team-card .card-img {
  width: 100%;
  height: 11rem;
  object-fit: cover;
  object-position: 0% 90%;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 60%);
}
.team-card .profile-img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -10rem;
  z-index: 999;
  border: 7px solid #e4e4e4;
}
.team-card .name-profile {
  font-size: 12px;
  font-weight: bold;
}
.team-card .email {
  font-size: 10px;
  font-style: italic;
  text-align: start;
  color: #303030;
}
.team-card .about {
  font-size: 12px;
}
.team-card ul {
  display: flex;
  margin: 10px;
  padding: 0px;
}
.team-card ul li {
  list-style: none;
}
.team-card ul li a {
  width: 35px;
  height: 35px;
  background-color: #d0d0d0;
  text-align: center;
  line-height: 10px;
  font-size: 20px;
  margin: 0 5px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 0px solid #858585;
  z-index: 1;
}
.team-card ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}
.team-card ul li a i {
  margin-top: 8px;
}
.team-card ul li a:hover .icon {
  color: #ffffff;
  transform: rotateY(360deg);
}
.team-card ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}
.team-card ul li a:hover:before {
  top: 0;
}
.team-card ul .web a:before {
  background: #9815e9;
}
.team-card ul .twit a:before {
  background: #55acee;
}
.team-card ul .linked a:before {
  background: #0e76a8;
}
.team-card ul .beh a:before {
  background: black;
}
.team-card ul .insta a:before {
  background: #F65202;
}
.team-card ul .github a:before {
  background: #464646;
}
.team-card ul .tele a:before {
  background: #0088cc;
}
.team-card ul .tableau a:before {
  background: #747474;
}

.team-card-v2 {
  background-color: #d0d0d0;
  max-width: 180px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 3vw;
  text-align: center;
}
.team-card-v2 .name-profile {
  font-size: 15px;
  font-weight: bold;
}
.team-card-v2 .email {
  font-size: 12px;
  font-style: italic;
  color: rgb(48, 48, 48);
}
.team-card-v2 .fa-solid {
  margin-right: 1rem;
  font-size: 35px;
}
.team-card-v2 p {
  margin: 2px;
  font-weight: bold;
  color: #262626;
  font-size: small;
}
.team-card-v2 .datos-colaborador {
  align-items: center;
}
.team-card-v2 ul {
  display: flex;
  margin: 10px;
  padding: 0px;
}
.team-card-v2 ul li {
  list-style: none;
}
.team-card-v2 ul li a {
  width: 35px;
  height: 35px;
  background-color: #f1f1f1;
  text-align: center;
  line-height: 10px;
  font-size: 20px;
  margin: 0 5px;
  display: block;
  border-radius: 50%;
  border: 5px solid #858585;
  position: relative;
  overflow: hidden;
  border: 1px solid #858585;
  z-index: 1;
}
.team-card-v2 ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}
.team-card-v2 ul li a i {
  margin-top: 8px;
}
.team-card-v2 ul li a:hover .icon {
  color: #ffffff;
  transform: rotateY(360deg);
}
.team-card-v2 ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}
.team-card-v2 ul li a:hover:before {
  top: 0;
}
.team-card-v2 ul .web a:before {
  background: #9815e9;
}
.team-card-v2 ul .twit a:before {
  background: #55acee;
}
.team-card-v2 ul .beh a:before {
  background: black;
}
.team-card-v2 ul .inta a:before {
  background: #F65202;
}

.conten-detalles {
  /*background-color: aqua;*/
  width: 100%;
  max-width: 100%;
  padding: 8px 0px;
  margin: 0px auto;
}

.item-detalles {
  font-family: "Roboto Slab";
  /*background-color: aquamarine;*/
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  width: 100%;
  min-height: 40px;
  color: #9f9f9f;
  margin: 7px;
}
.item-detalles .titulo-detalle {
  /*background-color: #fffff3;*/
  display: flex;
  align-items: center;
  gap: 6px;
  height: 100%;
  min-width: 230px;
  border-radius: 3px;
  padding: 0px 6px;
}
.item-detalles .titulo-detalle i {
  width: 30px;
  text-align: center;
}
.item-detalles .titulo-detalle .fa-solid {
  color: #9f9f9f;
}
.item-detalles .valor-detalle {
  display: flex;
  align-items: center;
  height: 100%;
  color: #9f9f9f;
}
.item-detalles .valor-detalle .premio_1 {
  background-color: #fff1ac;
  color: #ba9b01;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}
.item-detalles .valor-detalle .premio_2 {
  background-color: #eeeeee;
  color: #797979;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}
.item-detalles .valor-detalle .premio_3 {
  background-color: #ffdbc1;
  color: #d96410;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}
.item-detalles .valor-detalle .premio_4 {
  background-color: #f9dbfa;
  color: #d931c0;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}
.item-detalles .valor-detalle .premio_5 {
  background-color: #dbfae3;
  color: #35c659;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}
.item-detalles .valor-detalle .valor-detalle-tematica {
  background-color: #cedcf9;
  color: #1d57ad;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}

@media screen and (max-width: 478px) {
  .item-detalles {
    background-color: #f3f3f0;
    border-radius: 10px;
    flex-direction: column;
    /* margin-bottom: 3vh; */
    gap: 1vh;
    color: #5d5d5d;
  }
  .item-detalles .titulo-detalle {
    justify-content: center;
  }
  .item-detalles .valor-detalle {
    width: 200px;
    justify-content: center;
  }
  .item-detalles .valor-detalle ul {
    margin: 0px;
  }
}
.video-carousel {
  background-color: #e4e4e4;
  border-radius: 5px;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 50%;
  margin: 0px auto;
}
.video-carousel .contain {
  margin: 0 auto;
  overflow: hidden;
}
.video-carousel .videos-container {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  align-items: center;
}
.video-carousel .videos-container .fa-chevron-right, .video-carousel .videos-container .fa-chevron-left {
  cursor: pointer;
  font-size: 30px;
  color: #5b5b5b;
}
.video-carousel .videos-container .fa-solid:nth-of-type(2) {
  justify-self: end;
}
.video-carousel .videos-container .video_wrapper {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s;
}
.video-carousel .videos-container .v-avtive {
  opacity: 1;
  pointer-events: unset;
}

.footer-conten {
  background-color: #EC1E4C;
  width: 100%;
  min-height: 30px;
  display: flex;
  align-items: start;
  justify-content: center;
}

.logo {
  width: 150px;
  margin: 10px 0px;
  align-self: center;
}

.conten-footer {
  /* display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start; */
  color: white;
  width: 150px;
  margin: 5px 5px;
}
.conten-footer p {
  font-size: 10px;
  margin: 5px 0px;
}
.conten-footer h5 {
  margin-bottom: 5px;
}
.conten-footer ul {
  display: flex;
  margin: 10px;
  padding: 0px;
}
.conten-footer ul li {
  list-style: none;
}
.conten-footer ul li a {
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  text-align: center;
  line-height: 5px;
  font-size: 20px;
  margin: 0 5px;
  margin-bottom: 5px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 0px solid #858585;
  z-index: 1;
}
.conten-footer ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}
.conten-footer ul li a i {
  margin-top: 7px;
}
.conten-footer ul li a:hover .icon {
  color: #ffffff;
  transform: rotateY(360deg);
}
.conten-footer ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}
.conten-footer ul li a:hover:before {
  top: 0;
}
.conten-footer ul .web a:before {
  background: #9815e9;
}
.conten-footer ul .twit a:before {
  background: #55acee;
}
.conten-footer ul .linked a:before {
  background: #0e76a8;
}
.conten-footer ul .beh a:before {
  background: black;
}
.conten-footer ul .insta a:before {
  background: #F65202;
}
.conten-footer ul .github a:before {
  background: #464646;
}
.conten-footer ul .tele a:before {
  background: #0088cc;
}
.conten-footer ul .tableau a:before {
  background: #747474;
}
.conten-footer ul .you a:before {
  background: #FF0000;
}
.conten-footer ul .face a:before {
  background: #4267B2;
}

@media (max-width: 870px) {
  ul {
    zoom: 0.9;
    flex-wrap: wrap;
  }
}
@media (max-width: 477px) {
  .conten-cards-1 {
    justify-items: center;
  }
  .footer-conten {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
  .conten-footer {
    width: 180px;
  }
}
body {
  background-color: #FBFBF7;
  margin: 0%;
  font-family: "Roboto Slab";
}
body a {
  text-decoration: none;
  text-transform: none;
}

hr {
  margin: 0;
}

.contenido {
  margin: 1% 1%;
  padding: 5px;
}

.conten-consept {
  margin: 3% 5%;
  text-align: justify;
  font-family: "Roboto Slab";
}

.tituloSaludo {
  display: flex;
}

/* Datadon 2023 */
.descrip-bk1 {
  background-image: url("../img/img_fichas/img_1.jpg");
}

.descrip-bk2 {
  background-image: url("../img/img_fichas/img_2.jpg");
}

.descrip-bk3 {
  background-image: url("../img/img_fichas/img_3.jpg");
}

.descrip-bk4 {
  background-image: url("../img/img_fichas/img_4.jpg");
}

.descrip-bk5 {
  background-image: url("../img/img_fichas/img_5.jpg");
}

.descrip-bk6 {
  background-image: url("../img/img_fichas/img_6.jpg");
}

.descrip-bk7 {
  background-image: url("../img/img_fichas/img_7.jpg");
}

.descrip-bk8 {
  background-image: url("../img/img_fichas/img_8.jpg");
}

.descrip-bk9 {
  background-image: url("../img/img_fichas/img_9.jpg");
}

.descrip-bk10 {
  background-image: url("../img/img_fichas/img_10.jpg");
}

.descrip-bk11 {
  background-image: url("../img/img_fichas/img_11.jpg");
}

.descrip-bk12 {
  background-image: url("../img/img_fichas/img_12.jpg");
}

.descrip-bk13 {
  background-image: url("../img/img_fichas/img_13.jpg");
}

.descrip-bk14 {
  background-image: url("../img/img_fichas/img_14.jpg");
}

.descrip-bk15 {
  background-image: url("../img/img_fichas/img_15.jpg");
}

/* Hackaton 2024 */
.descrip24-bk1 {
  background-image: url("../img/mini_img_h24/img_1.jpg");
}

.descrip24-bk2 {
  background-image: url("../img/mini_img_h24/img_2.jpg");
}

.descrip24-bk3 {
  background-image: url("../img/mini_img_h24/img_3.jpg");
}

.descrip24-bk4 {
  background-image: url("../img/hackaton_24.jpg");
}

.descrip24-bk5 {
  background-image: url("../img/mini_img_h24/img_5.jpg");
}

.descrip24-bk6 {
  background-image: url("../img/mini_img_h24/img_6.jpg");
}

.descrip24-bk7 {
  background-image: url("../img/mini_img_h24/img_7.jpg");
}

.descrip24-bk8 {
  background-image: url("../img/mini_img_h24/img_8.jpg");
}

.descrip24-bk9 {
  background-image: url("../img/mini_img_h24/img_9.jpg");
}

.descrip24-bk10 {
  background-image: url("../img/mini_img_h24/img_10.jpg");
}

.descrip24-bk11 {
  background-image: url("../img/mini_img_h24/img_11.jpg");
}

.descrip24-bk12 {
  background-image: url("../img/mini_img_h24/img_12.jpg");
}

.descrip24-bk13 {
  background-image: url("../img/mini_img_h24/img_13.jpg");
}

.descrip24-bk14 {
  background-image: url("../img/mini_img_h24/img_14.jpg");
}

.descrip24-bk15 {
  background-image: url("../img/mini_img_h24/img_15.jpg");
}

.descrip24-bk16 {
  background-image: url("../img/hackaton_24.jpg");
}

.descrip24-bk17 {
  background-image: url("../img/mini_img_h24/img_17.jpg");
}

.descrip24-bk18 {
  background-image: url("../img/mini_img_h24/img_18.jpg");
}

.descrip24-bk19 {
  background-image: url("../img/mini_img_h24/img_19.jpg");
}

.descrip24-bk20 {
  background-image: url("../img/mini_img_h24/img_20.jpg");
}

.descrip24-bk21 {
  background-image: url("../img/mini_img_h24/img_21.jpg");
}

.descrip24-bk22 {
  background-image: url("../img/hackaton_24.jpg");
}

/* Hackaton 2025 */
.descrip25-bk1 {
  background-image: url("../img/portadas_2025/8.png"); /* Robotin */
}

.descrip25-bk2 {
  background-image: url("../img/portadas_2025/6.png"); /* Hilos de vida */
}

.descrip25-bk3 {
  background-image: url("../img/portadas_2025/5.png"); /* Infancias en Guanajuato */
}

.descrip25-bk4 {
  background-image: url("../img/portadas_2025/14.png"); /* JUCONI */
}

.descrip25-bk5 {
  background-image: url("../img/portadas_2025/2.png"); /* Historias que Importan */
}

.descrip25-bk6 {
  background-image: url("../img/portadas_2025/1.png");
}

.descrip25-bk7 {
  background-image: url("../img/portadas_2025/3.png");
}

.descrip25-bk8 {
  background-image: url("../img/portadas_2025/4.png");
}

.descrip25-bk9 {
  background-image: url("../img/portadas_2025/7.png");
}

.descrip25-bk10 {
  background-image: url("../img/portadas_2025/9.png");
}

.descrip25-bk11 {
  background-image: url("../img/portadas_2025/10.png");
}

.descrip25-bk12 {
  background-image: url("../img/portadas_2025/11.png");
}

.descrip25-bk13 {
  background-image: url("../img/portadas_2025/12.png");
}

.descrip25-bk14 {
  background-image: url("../img/portadas_2025/13.png");
}

@media (min-width: 800px) {
  .conten-consept {
    margin: 5% 10%;
  }
}
/*  Importamos fuentes de Google ---------------------------------------------  */

/*# sourceMappingURL=styles.css.map */
