.video-carousel{
    background-color: #e4e4e4;
    border-radius: 5px;
    box-shadow: .2rem .2rem .5rem #00000033;
    padding: 20px;
    width: 50%;
    margin: 0px auto;
    .contain{
        margin: 0 auto;
        overflow: hidden;
    }
    .videos-container{
        display: grid;
        grid-template-columns: 50px 1fr 50px;
        align-items: center;


        .fa-chevron-right, .fa-chevron-left{
            cursor: pointer;
            font-size: 30px;
            color: #5b5b5b;
        }
        .fa-solid:nth-of-type(2){
            justify-self: end;
        }
        .video_wrapper{
            grid-column: 2/3;
            grid-row: 1/2;
            justify-self: center;
            opacity: 0;
            pointer-events: none;
            transition: opacity 1.5s;
            
        }
        .v-avtive{
            opacity: 1;
            pointer-events: unset;
        }
    }
}


