$text-general: 'Roboto Slab';

.card{
    width: 280px;
    margin: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 0.3px solid rgb(188, 188, 188);
    box-shadow: 2px 2px 5px 2px #d8d8d8;
}
.descrip{
    /*font-family: 'IBM Plex Sans';*/
    text-align: justify;
    font-size: 12px;
    margin: 3px;
    padding: 4px;
    overflow: clip;
    background-color: rgb(253, 253, 253);
    height: 120px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0px 0px ;
}
.descriptCard{
    display:flex;
    flex-direction: column;
    min-height: 50px;
    padding: 3%;
    border-radius: 0px 0px 5px 5px;
    font-family: $text-general;
    background-color: white;
}
.descriptCard:hover{background-color: #F8F8F8;}
.tituloCard{
    display: flex;
    align-items: center;
    margin: 5px;
    gap: 2px;
}
.tituloText{
    margin: 0px;
    text-align: start;
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-left: 5px;
}
.equipoText{
    display: inline-block;
    margin: 5px;
    color: black;
    font-family: $text-general;
    font-size: 12px;
    line-height: 1.8;
    text-align: start;
}

.by{
    background-color: #fbe4c2;
    padding: 3px 4px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #cb7804;
}
.tem{
    background-color: #ebebeb;
    padding: 3px 4px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #7d7d7d;
}
.fa-solid {
    font-size: 1.2em;
    color: black;
}





