$text-general: 'Roboto Slab';
$color-titulo-detalle: #9f9f9f;

@mixin colors-bk-tex($bk, $color:blank){
    background-color: $bk;
    color: $color;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}


.conten-detalles{
    /*background-color: aqua;*/
    width: 100%; 
    max-width: 100%; 
    padding: 8px 0px; 
    margin: 0px auto;
}
.item-detalles{
    font-family: $text-general;
    /*background-color: aquamarine;*/
    display: flex; 
    align-items: center; 
    padding-bottom: 4px; 
    width: 100%;
    min-height: 40px;
    color: $color-titulo-detalle;
    margin: 7px;
    .titulo-detalle{
        /*background-color: #fffff3;*/
        display: flex; 
        align-items: center; 
        gap: 6px;
        height: 100%; 
        min-width: 230px; 
        border-radius: 3px; 
        padding: 0px 6px;
        i{
            width: 30px;
            text-align: center;
        }
        .fa-solid{
            color: $color-titulo-detalle;
        }
    }
    .valor-detalle{
        display: flex; 
        align-items: center; 
        height: 100%; 
        color: $color-titulo-detalle;
        .premio_1{@include colors-bk-tex(#fff1ac, #ba9b01)}
        .premio_2{@include colors-bk-tex(#eeeeee, #797979)}
        .premio_3{@include colors-bk-tex(#ffdbc1, #d96410)}
        .premio_4{@include colors-bk-tex(#f9dbfa, #d931c0)}
        .premio_5{@include colors-bk-tex(#dbfae3, #35c659)}
        .valor-detalle-tematica{
            @include colors-bk-tex(#cedcf9, #1d57ad)
        }
        
    }
}




@media screen and (max-width:478px){
    .item-detalles{
        background-color: #f3f3f0;
        border-radius: 10px;
        flex-direction: column;
        /* margin-bottom: 3vh; */
        gap: 1vh;
        color: #5d5d5d;

        .titulo-detalle{
            justify-content: center;
        }
        .valor-detalle{
            width: 200px;
            justify-content: center;
            ul{
                margin: 0px;
            }
        }
    }
}