$text-general: 'Roboto Slab';
$color-titulo-detalle: #9f9f9f;

@mixin colors-bk-tex($bk, $color:blank){
    background-color: $bk;
    color: $color;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}


.conten-detalles{
    /*background-color: aqua;*/
    width: 100%; 
    max-width: 100%; 
    padding: 8px 0px; 
    margin: 0px auto;
}
.item-detalles{
    font-family: $text-general;
    /*background-color: aquamarine;*/
    display: flex; 
    padding-bottom: 4px; 
    width: 100%;
    height: 40px;
    color: $color-titulo-detalle;
    margin: 7px;
    .titulo-detalle{
        /*background-color: #fffff3;*/
        display: flex; 
        align-items: center; 
        gap: 6px;
        height: 100%; 
        min-width: 230px; 
        border-radius: 3px; 
        padding: 0px 6px;
        i{
            width: 30px;
            text-align: center;
        }
        .fa-solid{
            color: $color-titulo-detalle;
        }
    }
    .valor-detalle{
        display: flex; 
        align-items: center; 
        height: 100%; 
        color: #2c2c2c;
        .premio_1{@include colors-bk-tex(#fff1ac, #ba9b01)}
        .premio_2{@include colors-bk-tex(#eeeeee, #797979)}
        .premio_3{@include colors-bk-tex(#ffdbc1, #d96410)}
        .premio_4{@include colors-bk-tex(#fec1ff, #d931c0)}
        .valor-detalle-tematica{
            @include colors-bk-tex(#c2d5ff, #1d57ad)
        }
        
    }
}

