
.tarjetero{
    /*background-color: #ffbea6;*/
    border-radius: 5px;
    
}
.contenBody{
    display: grid;
    grid-template-columns: 180px auto;
}

.descripcion{
    /*background-color: #ffbea6;*/
    margin: 1% 1%;
    padding: 5px;
}

.tituloConten{
    /*background-color: aquamarine;*/
    min-height: 35px;
}
.conten-cards-1{
    /*background-color:cadetblue;*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    padding: 10px;
    width: auto;
    min-height: 35px;
}
.vistaConten{
    /*background-color:rgb(97, 61, 255);*/
    display: flex;
    align-items: center; 
    flex-shrink: 0;
    gap: 2px;
    font-size: 13px;
    padding: 5px 5px;
}
.tituloTextConten{
    /*background-color:rgb(255, 61, 249);*/
    font-size: 20px;
    font-weight: bold;
    padding: 10px 5px;
}

.colFiltro{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 5px;
    .tituloTextFiltro{
        font-weight: bold;
        display: flex;
        align-items: center;
    }
    ul{
        font-size: 16px;
        padding: 10px 0px;
        font-weight: bold;
        list-style: none;
        margin: 0px;
        padding: 0%;
        li{
            font-family: 'Roboto Slab', serif;
            margin: 5px 0px;
            font-weight: normal;
        }
        .active{
            font-weight: bold;
        }
    }
    .fa-solid{
        display: none;
        margin-left: auto;
        margin-right: 3%;
        font-size: 14px;
    }
}




.filter-btn{
    display: list-item;
    font-size: 14px;
    text-align: start;
    color: #3e3d3d;
    border: none;
    border-radius: 5px;
    margin: 2px 0px 2px 18px;
    padding: 3px 0px;
    cursor: pointer;
    background-size: 100px;
    background-color:#f8f8f800;
}
.filter-btn:hover{
    font-weight: bolder;
}


@media screen and (max-width:478px){
    .contenBody{
        grid-template-columns: 1fr;
    }
    .colFiltro{
        background-color: #f3f3f0;
        border-radius: 8px;
        padding-top: 6px;
        padding-bottom: 6px;
        align-items: center;
        .tituloTextFiltro{
            cursor: pointer;
            width: 100%;
            text-align: center;
            span{margin-left: 3%;}
        }
        .ftro-oculto{height: 250px;}
        ul{
            display: flex;
            flex-flow: column nowrap;
            height: 0px;
            transition: all 0.5s;
            overflow: hidden;
            align-items: center;
            justify-content: flex-end;
            overflow: hidden;
            li{
                margin: 2px 0px;
            }
        }
        .fa-solid{
            display: block;
        }
    }
}