
.tarjetero{
    /*background-color: #ffbea6;*/
    border-radius: 5px;
    
}
.contenBody{
    display: grid;
    grid-template-columns: 180px auto;
}
.colFiltro{
    /*background-color: beige;*/
    display: flex;
    flex-direction: column;
    li::marker{
        font-size: 23px;
        content: "| ";
        margin-right: 5px;
    }
}
.descripcion{
    /*background-color: #ffbea6;*/
    margin: 1% 1%;
    padding: 5px;
}

.tituloConten{
    /*background-color: aquamarine;*/
    min-height: 35px;
}
.conten-cards-1{
    /*background-color:cadetblue;*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    padding: 10px;
    width: auto;
    min-height: 35px;
}
.vistaConten{
    /*background-color:rgb(97, 61, 255);*/
    display: flex;
    align-items: center; 
    flex-shrink: 0;
    gap: 2px;
    font-size: 13px;
    padding: 5px 5px;
}
.tituloTextConten{
    /*background-color:rgb(255, 61, 249);*/
    font-size: 20px;
    font-weight: bold;
    padding: 10px 5px;
}
.tituloTextFiltro{
    font-size: 16px;
    padding: 10px 0px;
    font-weight: bold;
}
li{
    font-family: 'Roboto Slab', serif;
}


.filter-btn{
    display: list-item;
    font-size: 14px;
    text-align: start;
    color: #3e3d3d;
    border: none;
    border-radius: 5px;
    margin: 2px 0px 2px 18px;
    padding: 3px 0px;
    cursor: pointer;
    background-size: 100px;
    background-color:#f8f8f800;
}
.filter-btn:hover{
    font-weight: bold;
}
