$color-bk:#FBFBF7;
$text-general: 'Roboto Slab';

@use 'header';
@use 'cards';
@use 'tarjetero';
@use 'pages';
@use 'team';
@use 'minicards';
@use 'carrusel';

/* Cambios en elementos/etiquetas HTML */
body{
    background-color:$color-bk;
    margin: 0% ;
    font-family: $text-general;
    a{
        text-decoration: none;
        text-transform: none;
    }
}
hr{margin: 0;}
.contenido{
    margin: 1% 1%;
    padding: 5px;
}


.conten-consept{
    margin: 5% 14%;
    text-align: justify;
    font-family: $text-general;
}
.tituloSaludo{
    display: flex;
}
.active{
    font-weight: bold;
}








/*Importamos fuentes de Google*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');