$color-bk:#FBFBF7;
$text-general: 'Roboto Slab';

@use 'header';
@use 'cards';
@use 'tarjetero';
@use 'pages';
@use 'team';
@use 'minicards';
@use 'carrusel';
@use 'footer';

/* Cambios en elementos/etiquetas HTML */
body{
    background-color:$color-bk;
    margin: 0% ;
    font-family: $text-general;
    a{
        text-decoration: none;
        text-transform: none;
    }
}
hr{margin: 0;}
.contenido{
    margin: 1% 1%;
    padding: 5px;
}


.conten-consept{
    margin: 5% 14%;
    text-align: justify;
    font-family: $text-general;
}
.tituloSaludo{
    display: flex;
}
.active{
    font-weight: bold;
}





.descrip-bk1{
    background-image: url("../img/img_fichas/img_1.jpg");
}
.descrip-bk2{
    background-image: url("../img/img_fichas/img_2.png");
}
.descrip-bk3{
    background-image: url("../img/img_fichas/img_3.png");
}
.descrip-bk4{
    background-image: url("../img/img_fichas/img_4.png");
}
.descrip-bk5{
    background-image: url("../img/img_fichas/img_5.jpg");
}
.descrip-bk6{
    background-image: url("../img/img_fichas/img_6.png");
}
.descrip-bk7{
    background-image: url("../img/img_fichas/img_7.png");
}
.descrip-bk8{
    background-image: url("../img/img_fichas/img_8.jpg");
}
.descrip-bk9{
    background-image: url("../img/img_fichas/img_9.png");
}
.descrip-bk10{
    background-image: url("../img/img_fichas/img_10.jpg");
}
.descrip-bk11{
    background-image: url("../img/img_fichas/img_11.jpg");
}
.descrip-bk12{
    background-image: url("../img/img_fichas/img_12.jpg");
}
.descrip-bk13{
    background-image: url("../img/img_fichas/img_13.jpg");
}
.descrip-bk14{
    background-image: url("../img/img_fichas/img_14.png");
}
.descrip-bk15{
    background-image: url("../img/img_fichas/img_15.png");
}









/*  Importamos fuentes de Google ---------------------------------------------  */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');