# Ignorar los archivos CSS generados
*.css
*.css.map
*.docx
*.pdf
*.jpg
*.mp4

# Ignorar los archivos JS generados
*.js

# Ignorar los archivos de caché de Sass
*.sass-cache/

# Ignorar los archivos de la carpeta node_modules
/node_modules

# Excepciones
!styles.css
!/img/*.jpg
!/img/img_fichas/*.jpg
!/img/infografias/*.jpg
!script.js
!/pdf/*.pdf
